NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" LOC = D18;

NET "rx_val[*]" IOSTANDARD = LVCMOS33;
NET "rx_val[0]" LOC = A17;
NET "rx_val[1]" LOC = G16;
NET "rx_val[2]" LOC = E16;
NET "rx_val[3]" LOC = H17;
NET "rx_val[4]" LOC = G17;
NET "rx_val[5]" LOC = F18;
NET "rx_val[6]" LOC = F19;
NET "rx_val[7]" LOC = F20;
NET "rx_val[8]" LOC = C17;
NET "rx_val[9]" LOC = F17;
NET "rx_val[10]" LOC = B17;
NET "rx_val[11]" LOC = D19;
NET "rx_val[12]" LOC = A18;
NET "rx_val[13]" LOC = A19;
NET "rx_val[14]" LOC = E17;
NET "rx_val[15]" LOC = E18;

NET "instruction[*]" IOSTANDARD = LVCMOS33;
NET "instruction[0]" LOC = N3;
NET "instruction[1]" LOC = N4;
NET "instruction[2]" LOC = P3;
NET "instruction[3]" LOC = P4;
NET "instruction[4]" LOC = R5;
NET "instruction[5]" LOC = T7;
NET "instruction[6]" LOC = R8;
NET "instruction[7]" LOC = T8;
NET "instruction[8]" LOC = N2;
NET "instruction[9]" LOC = N1;
NET "instruction[10]" LOC = P1;
NET "instruction[11]" LOC = R2;
NET "instruction[12]" LOC = R1;
NET "instruction[13]" LOC = T2;
NET "instruction[14]" LOC = U1;
NET "instruction[15]" LOC = U2;