NET "clk" LOC = B9;
NET "rst" LOC = U10;

NET "h_sync" LOC = D6;
NET "v_sync" LOC = E6;

NET "r[0]" LOC = A7;
NET "r[1]" LOC = C3;
NET "r[2]" LOC = A4;
NET "g[0]" LOC = B4;
NET "g[1]" LOC = C4;
NET "g[2]" LOC = C5;
NET "b[0]" LOC = D5;
NET "b[1]" LOC = A6;
NET "b[2]" LOC = B6;

NET "ps2_clk" LOC = U6;
NET "ps2_data" LOC = V6;
